body.single-artist,
body.page-template-page-ctl  {
  
    
  @include breakpoint(small only){
    #page-header .content h1 {
      font-size: 36.5px;
      
      & + span {
        font-size: 20.5px;
      }
    }
  }
} 