$content-width:600px;

@font-face {
  font-family: 'guayaki';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/guayaki-custom.ttf') format('truetype');
}

html.menu-open, body.menu-open {
  overflow:hidden;
  max-height:100vh;
  position:relative;
}

//Typography
body {
  font-size:$paragraph-font-size;
  font-weight: 300;
  position:relative;
  -webkit-text-size-adjust: 100%;


   p {
    line-height: 1.8;
    letter-spacing: .2px;
    font-size: rem-calc(18px);
    font-weight: 300;

    a {
      color:$green;
    }


    @include breakpoint(small only){
      line-height:1.6em;
    }
  }

}

a {
  @include single-transition(color,200ms,linear);
}

button, .button {
  @include single-transition(color,200ms,linear);
}

h1,h2,h3,h4,h5 {
  text-align:center;
  text-transform: uppercase;
  letter-spacing:  .3px;
  font-weight: 300;
}

h1 {
  font-size:rem-calc(50px);
  line-height: 1em;
  margin-bottom:40px;
}

h2 {
  font-size: rem-calc(50px);
  margin:  30px 0 25px;
}

iframe {
  max-width: 100%;
}

@include breakpoint(small only){

  h1 {
    font-size:rem-calc(40px);
    margin-bottom:26px;
    line-height: 1.2em;
  }

  h2 {
    font-size:2.0rem;
  }
}

h1,h2,h3 {
  &.guayaki-font {
    font-family: 'guayaki', 'raleway';
  }
}
p {
  margin-bottom:40px;
}

hr {
  max-width: 200px;
  margin: 90px auto 85px;
  border-bottom: 1px solid black;
}

.title {
  font-family:$header-font-family;
  line-height:$header-lineheight;
  font-weight:$header-font-weight;
}

.big-button {
  @include green-button;
}

.white-outline-button {
  background: transparent;
  border-radius: 3px;
  color:white;
  display: inline-block;
  font-size: rem-calc(28px);
  font-weight: normal;
  text-align: center;
  padding: 15px 40px;
  @extend .title;
  text-align:center;
  border: 1px solid #fff;

  &:hover {
    background: #fff;
    color: #000;
  }

  @include breakpoint(small only) {
    font-size: 18.75px;
    padding: 20px;
  }
}

.wreath-home-link {
  width:110px;
  height:auto;

  @include breakpoint(small only) {
    width: 70px;
  }

  @include breakpoint(medium only){
  width: 80px;
  }
}

.social-links {
  a svg {
    height: 30px;
    width: 30px;
  }

  a:hover {
    svg .inner-shape {
      fill: $yellow !important;
    }
  }
}

.alert {
  background:rgba(255, 254, 237, .5);
  border: 2px solid $green;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 20px 20px 5px;
}

@mixin g-caret($size, $color, $rotation){
  content:'';
  width:$size;
  height:$size;
  display: inline-block;
  border-left:3px solid $color;
  border-top:3px solid $color;
  @include rotate($rotation);
}