@mixin green-button {
  background:$green;
  border-radius: 3px;
  color:white;
  display: inline-block;
  font-size: rem-calc(28px);
  font-weight: normal;
  text-align: center;
  padding: 15px 40px;
  @extend .title;
  text-align:center;
  border:none;

  &:hover {
    background: $yellow;
    color: $white;
  }

  @include breakpoint(small only) {
    font-size: 18.75px;
    padding: 20px;
  }
}

@mixin gold-borders {
  border-top: 8px solid $yellow;
  border-bottom: 8px solid $yellow;
}

@mixin grid-item {
  background: black;
  display:inline-block;
  list-style: none;
  overflow: hidden;
  position:relative;
  text-align: center;
  @include single-transition(opacity,400ms, linear);

  img {
    opacity:.8;
    @include single-transition(all,200ms, linear);
  }

  span {
    @include center;
    color: white;
    font-size: 1em;
    line-height: 1.2em;

    @include breakpoint(large){
      font-size: 1.1em;
    }

    text-transform: uppercase;
  }

  &:hover {
    img {
      opacity:.4;
      filter: blur(4px);
      transform: scale(1.1);
    }

    span {
      color: $yellow;
    }
  }
}


.icon-header {
  display: inline-block;
  font-size: 20px;
  position: relative;

  img {
    transform:translateY(-3px);
  }

  svg {
    width: 24px;
    height: 24px;
    transform: translateY(4px);

    * {
      fill: $green;
    }
  }

  &:before, &:after {
    content: '';
    @include center-vertically;
    width: 97px;
    height: 1px;
    background: $green;
    left: -150%;
  }

  &:after {
    left: auto;
    right: -150%;
  }

  @include breakpoint(small only) {
    &:before {
      width: 27px;
      left: -50%
    }

    &:after {
      width: 27px;
      right: -50%
    }
  }
}