@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

// Rotate
@mixin rotate ($deg) { 
  @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}


//Absolute position and fill entire container 
@mixin absolute-fill {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

@mixin flex-vert {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}

/**
 * Center an element horizontally
 */
@mixin center-horizontally {
  left: 50%;
  position: absolute;
  transform: translateX(-50%) scale(1);
  -webkit-transform:translateX(-50%) scale(1);
}

/**
 * Center an element horizontally
 */
@mixin center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  -webkit-transform:translateY(-50%) scale(1);
}

/**
 * Center an element horizontally and vertically
 */
@mixin center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}

/*
 * Simple Breakpoint
 ** Uses map-get and @content to simplify nested breakpoints
 */

@mixin simple-breakpoint($the_breakpoint) {
  @include breakpoint(map-get($breakpoints, '#{$the_breakpoint}')) {
    @content;
  }
}


/*
 * Make a clipped corner on any box
 ** Note the mixin makes the element position: relative
 */

@mixin clipped-corner($y, $x, $size, $from-x: 0, $bg-color: #FFF, $fg-color: transparent) {
  position: relative;

  $x-inverse: 'left';

  @if $x == 'left' {
    $x-inverse: 'right';
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    #{$y}: $from-x;
    #{$x}: $from-x;
    border-#{$y}: $size solid $bg-color;
    border-#{$x-inverse}: $size solid $fg-color;
  }
}

/**
 * Simple transition function that default duration and timing function to global settings
 */
@mixin single-transition($property:all, $speed:300ms, $ease:ease-out) {
  transition: $property $speed $ease;
}

//Gradients
@mixin linear-gradient-b($args...) {
  background-image: linear-gradient($args);
}
