section.container {
  margin-bottom: 150px;

  @include breakpoint(small only) {
    margin-bottom: 50px;
  }
}
.content-section {
  background-color: white;
  background-repeat: no-repeat;
  padding: 120px $standard-space;
  text-align:center;

  h1,h2 {
    color: $green;
  }

  & > .row { 
    justify-content: center;
  }

  &.-slim {
    padding: 75px $standard-space/2;
  }

  &.-fat {
     padding: 180px 100px; 
  }

  &.-bg {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;

    h1,h2 {
      color: white;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(medium only) {
    &.-fat {
      padding: 130px 80px; 
    }

  }
  @include breakpoint(small only) {
    padding: 40px 0;

    h1 {
      font-size:35px;
    }

    p {
      font-size: 14px;
      line-height: 2em;
    }

    &.-slim {
      padding: 70px 25px; 
    }
    
    &.-bg {
      background-size:cover !important;
      background-attachment: initial !important;
    }

    &.-fat {
     padding: 70px 25px; 
    }

  }
}