.page-amigos,
.home {
  .amigos-overview {

    margin-bottom: -113px;

    p {
      color: $green;
    }

    @include breakpoint(small only) {
      margin-bottom: 0;
      padding: 118px 15px 55px;;

      p {
        font-size: 16px;
      }
    }
  }

  .amigos {

    padding: 0 0 80px 0;


    .amigo-grid {
      display: flex;
      flex-flow: row wrap;
      justify-content: inherit;

      .single-amigo {
        margin: 0 7px 14px;
        width: 32%;

         &:hover {
          span {
            display: none;
          }

          &:after {
            @include center;
            content: 'learn more';
            color: $yellow;
            text-transform: uppercase;
          }
        }
      }

      @include breakpoint(small only) {
        padding: 0;


        .single-amigo {
          width: 45%;
          margin: 5px;
          max-width: none;
        }
      }
    }
  }
  #footer {
    margin-top: 82px;
  }
}