.page-artists, 
.home {
  .artist-overview {
  
    margin-bottom: -113px;

    p {
      color: $green;
    }

    @include breakpoint(small only) {
      margin-bottom: 0;
      padding: 118px 15px 55px;;

      p {
        font-size: 16px;
      }
    }
  }

  .artists {
    
    @include breakpoint(small only) {
      padding: 0;
    }
    
    .artist-grid {
      display: flex;
     -webkit-flex-flow: row wrap;
      justify-content: inherit;
      max-width: 74.3333%;

      .single-artist {
        margin: 0 7px 14px;
      }

      @include breakpoint(small only) {
        max-width: 100%;
        padding: 0;

        .single-artist {
          max-width: 45%;
          margin: 4px;
        }
      }
    }
  }
  #footer {
    margin-top: 82px;
  }
}