body.home {  

  #front-intro {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/placeholder/saxplayer.jpg") no-repeat 50% 50%;
    background-size: cover;
    
    h1,p {
      color: white;
    }
  }

  #connect-with-us {

    .social-links {
      margin-top: 33px;
    }

    #youtube {
      width: 49px;
    }
  }


  #our-vision{
    background-size: 100%;
    color: $green;


    h1 {
      color: $green;
    }
  }

  #amigos{
    background:  linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ), url('../images/placeholder/mountain.jpg') no-repeat center center;
    background-size: 100%;

    h1 {
      @include breakpoint(medium up){
      }
    }

    .big-button {
      padding: 20px 50px;
    }

  }


  #yerba-mate {
    background:linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url('../images/placeholder/yerba-cans.jpg') no-repeat center center;
    background-size: 100%;

    .big-button {
      padding: 20px 50px;
    }
  }

  #front-intro, #yerba-mate, #amigos, #our-vision {
      @include breakpoint(large) {
      background-attachment: fixed;
    }
  }

  .content-section {
    text-align: center !important;
    
    .social-links a {

      svg * {
        fill: $green;
      }

      &:hover svg * {
        fill: $yellow;
      }
    }

  }
  
  section.container {
    margin-bottom: 0;
  }

  #footer {
    margin-top: 0;
  }
}

