body.page-yerba-mate {
  #page-header h1 {
    text-transform: lowercase !important;
  }

  .film-section {
    text-align: center;
    padding-top: 0;
    
    @include breakpoint(small only) {
      .single-film-item {
   
      }
    }
  }

  #cebadores {
    background-image: url("../images/placeholder/hand-leaves.jpg"); 
    position: relative;

    &:after {
      content:'';
      @include absolute-fill;
      background: rgba(0,0,0,.25);
      z-index:1;
    }
    
    .row {
      z-index: 20;
      position: relative;
    }

    @include breakpoint(small only) {
      background-image: url("../images/placeholder/hand-leaves-mobile.jpg"); 
    }
  }

  .section-3 {

  }
}