body.page-contact-us {
  article > header {
    display: none;
  }

  address {
    margin: 20px auto;
  }

  @include breakpoint(small only) {
    margin:55px auto; 
  }
}

.contact-link {
  @include green-button;
  
  margin: 0 20px;
  
  @include breakpoint(small only) {
    font-size:1.9rem; 
    line-height:1em; 
  }
  
  &:first-child{
    margin-top:40px; 
  }

  @include breakpoint(small only) {
    display: block;
    margin: 20px auto;
  }

}

.phone-label {
  display: block;
}

.hours {
  font-family:$header-font-family; 
  margin:40px 0 20px; 

  @include breakpoint(small only) {
    margin:55px auto; 
  }
}