body.page-vision {
  #page-header {
    background: black;
    img {
      opacity: .6;
    }
  }

  .mission {
    padding-bottom: 0px;
  }

  .vision-films {
    text-align: center;
  }

  @include breakpoint(large up) {
    .film-grid .slick-track {
      width: 100% !important;
      justify-content: center;
      display: flex !important;
    }
  }

  /* Fix issue on mobile */
  .content-section.vision-films.row {
    display: block;
  }
}
