#page-full-width {
  @include grid-row();
  margin-top: 3rem;
  padding:0;

  .main-content {
    text-align:center; 
    padding:0; 
    
    p img {
      margin:70px auto; 
      max-height:650px; 

      @include breakpoint(small) { 
       margin:44px auto;
      }
    }

    .text-content p {
      max-width:568px;
      margin:0 auto 20px;

      &.form-cta {
       margin-top:35px;
      }

      @include breakpoint(small only){
        max-width:85%; 
      }
    }

    @include breakpoint(small) {
      @include grid-column(12);
    }

  }

  @include breakpoint(small only) {
    margin-top:28px;
  }
}
