body.page-become-a-university-ambacebador {
  
  #section-1 {
    h3 {
      margin-bottom: 60px;
    }
  }

  #section-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/placeholder/stairs-glare.jpg") no-repeat 59% 50%;
    background-attachment: fixed;
    position: relative;
    text-align: center;

    h1 {
      color: $yellow;
    }
    
    a {
      color: $yellow;
      text-decoration: underline;
    }
    
    #ambacebador-arrow {
      @include center;
      height: 165px;
      top: 0;
      
      @include breakpoint(small only) {
        height: 80px;
      }
    }
  }

  #section-3 {
    text-align: center;
  }
}