body.page-films {
  .film-grid {
    margin-bottom: 100px;

    .single-film-item {
      height: 275px;
      margin-bottom: 13px;
      width: calc(50% - 14px);
    }

    @include breakpoint(large up) {

      
      .slick-track {
        width: 100% !important;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center ;
      }
      .single-film-item { 
        height: 180px;
      }
    }
    @include breakpoint(small only) {
      padding: 0 14px;

      .single-film-item {
        height: 175px;
        width: 100%;
      }
    }
  }

  #page-header .content span svg * {
    fill: white;
  }

  .intro-copy {
    color: $green;
    text-align: center;
  }


}