@mixin placeholder_style() {
  color: #111;
}

@mixin placeholder_focus_style() {
  color: #ccc;
}

.page-template-page-impact-calculator .container {
  margin-bottom: 0;
}

#page-header.page-header--impact-calculator {
  height: 100vh;

  @media screen and (max-width: 39.9375em) {
    height: 100vh;
    background-size: 400% !important;
  }

  .content {
    max-width: 100%;
    padding-top: 100px;
  }

  p {
    margin: .5em 0 2em;
    font-family: "Raleway", "Helvetica Neueue", "Arial", sans-serif;
    color: #fff;
  }

  .white-outline-button:hover {
    color: #000;
  }
}

.impact-calculator {
  padding-top: 0;
  padding-bottom: 0;

  &__step {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  &__step + &__step {
    margin-top: 0;
  }

  &__heading {
    width: 400px;
    max-width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.6em;
    line-height: normal;
    letter-spacing: normal;
  }

  &__heading-num {
    display: block;
    margin: 0 auto .5em;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border: 2px solid $yellow;
    border-radius: 50%;
    color: $yellow;
  }

  &__time-range {
    &__list {
      display: block;
      margin: 0;
      text-align: center;
      list-style: none;

      @media screen and (max-width: 39.9375em) {
        text-align: left;
      }

      &:after {
        display: block;
        content: "";
        clear: both;
      }
    }

    &__item {
      display: block;
      width: 50%;
      margin-bottom: .5em;
      float: left;

      @media screen and (max-width: 39.9375em) {
        width: 100%;
      }

      @media screen and (min-width: 64em) {
        display: inline-block;
        width: auto;
        float: none;
      }
    }

    &__item + &__item {
      margin-left: 0;

      @media screen and (min-width: 64em) {
        margin-left: .5em;
      }
    }

    &__radio {
      display: none;
    }

    &__label {
      display: block;
      margin: 0 !important;
      padding: .33em 2.5em .33em .5em;
      width: 100%;
      font-size: 1.1em;
      font-weight: bold;
      border: 0px solid #ccc;
      box-shadow: 0 0 5px rgba(0, 0, 0, .2);

      @media screen and (min-width: 64em) {
        padding-left: .33em;
      }

      &:before {
        $size: 26px;
        display: inline-block;
        width: $size;
        height: $size;
        line-height: $size;
        border: 1px solid #000;
        border-radius: 50%;
        background: #fff;
        color: #fff;
        content: "\2713";
      }
    }

    &__radio:checked + &__label {
      color: $green;
      border: 0;
      box-shadow: 0 0 15px rgba(0, 0, 0, .3);

      &:before {
        background: $yellow;
        border-color: $yellow;
      }
    }
  }

  &__field {
    [type="number"] {
      height: auto;
      padding: 0;
      font-weight: bold;
      line-height: 3rem !important;
      border: 0;
      border-bottom: 2px solid #eee;
      box-shadow: none;
      color: $green;
      transition: .2s all ease-in-out;

      &:not(:placeholder-shown),
      &:focus:not(:placeholder-shown) {
        font-family: "Helvetica Neueue", "Arial", sans-serif;
        font-size: 2.6rem;
      }

      &:focus {
        border-bottom: 2px solid $green;
      }

      &::-webkit-input-placeholder {
        @include placeholder_style();
      }
      &::-moz-placeholder {
        @include placeholder_style();
      }
      &:-ms-input-placeholder {
        @include placeholder_style();
      }
      &:-moz-placeholder {
        @include placeholder_style();
      }
      &:placeholder {
        @include placeholder_style();
      }

      &:focus {
        &::-webkit-input-placeholder {
          @include placeholder_focus_style();
        }
        &::-moz-placeholder {
          @include placeholder_focus_style();
        }
        &:-ms-input-placeholder {
          @include placeholder_focus_style();
        }
        &:-moz-placeholder {
          @include placeholder_focus_style();
        }
        &:placeholder {
          @include placeholder_focus_style();
        }
      }
    }

    label {
      font-weight: bold;
      color: $green;
      -webkit-transition: .2s opacity ease-in-out, .2s -webkit-transform ease-in-out;
      transition: .2s opacity ease-in-out, .2s transform ease-in-out;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      opacity: 0;
    }

    &.show-floating-label label {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__cards {
    width: 100%;
    margin: 0 -.5rem;

    .slick-list {
      padding-right: 10%;

      @media screen and (min-width: 768px) {
        padding-right: 0;
      }
    }
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 300px;
    min-height: 360px;
    margin: 0 .5rem;
    text-align: left;
    background-color: #333;
    vertical-align: top;

    @media screen and (min-width: 64em) {
      min-height: 400px;
    }

    * {
      color: #fff;
    }

    hr {
      margin: .5rem 0;
      border-color: #fff;
      opacity: .6;
    }

    &__bg,
    &__overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__bg {
      background-size: cover;
    }

    &__overlay {
      background-color: rgba(0, 0, 0, .5);
    }

    &__body {
      position: relative;
      padding: 1rem;
    }

    &__result {
      margin: 4rem 0 0;
      font-size: 2em;
      line-height: normal;
    }

    &__title {
      font-family: 'guayaki', 'raleway';
      text-transform: uppercase;
      text-align: left;
      font-size: .9rem;
      font-weight: bold;
      line-height: normal;
    }

    &__content {
      &,
      p {
        margin: 0;
        font-size: .8rem;
        font-weight: bold;
        line-height: 1.33;
        white-space: normal;
      }
    }
  }

  &__results {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999999;
    opacity: 0;
    transition: .2s opacity ease-in-out;
    pointer-events: none;

    &.in {
      opacity: 1;
      pointer-events: auto;
    }

    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: auto;
      left: auto;
      z-index: 1111;
    }

    &__wrap {
      width: 1200px;
      max-width: 100%;
      max-height: 100vh;
      position: fixed;
      top: 50%;
      right: auto;
      bottom: auto;
      left: 50%;
      overflow: scroll;
      transform: translateX(-50%)translateY(-50%);
      -webkit-overflow-scrolling: touch;

      @media screen and (min-width: 64em) {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        max-width: 90%;
        background-color: #fff;
      }
    }

    &__sidebar,
    &__content__body {
      position: relative;
      padding: 1.5rem;

      @media screen and (min-width: 64em) {
        padding: 3rem;
      }
    }

    &__sidebar {
      padding-right: .5rem;
      padding-left: .5rem;
      border-bottom: 5px solid $yellow;
      background-size: cover;
      background-position: center;

      @media screen and (min-width: 64em) {
        width: 25%;
        border-right: 5px solid $yellow;
        border-bottom: 0;
      }
    }

    &__content {
      background-size: cover;

      @media screen and (min-width: 64em) {
        width: 75%;
      }
    }

    &__logo {
      width: 80px;
    }

    &__heading {
      width: 300px;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      font-size: 1.6em;
      font-weight: bold;
      color: #fff !important;
      line-height: normal;
    }

    &__share {
      margin: 2em 0 0;
      text-align: center;
      padding-bottom: 50px;

      @media screen and (min-width: 64em) {
        padding-bottom: 0;
        text-align: right;
      }

      p {
        font-size: .8em;
        font-weight: bold;
      }

      .a2a_kit.a2a_kit_size_32.a2a_default_style,
      p {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
      }
    }

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

[data-calculator-results-table] {
  table {
    max-width: 100%;

    tbody {
      th,
      td {
        padding: .25rem;
        font-size: .8rem;
      }
    }
  }
}
