#single-post {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }
}

.single-film { 

  #main-video {
    margin-bottom:80px; 
    
    .flex-video {
      padding-bottom:40%; 
    }
  }

  .film-content {
    width:$content-width;
    margin:0 auto; 
    text-align:center;
  
    .credits {
      margin:15px auto; 

      li {
        display:block;
 
        span {
          color:$green;
          font-weight:bold;
        }
      }
    }
    @include breakpoint(small only) {
      max-width:90%; 
    }
  }
}