body.single-artist {
  
  #page-header {
  
    .content {
      @include center;
      h1 {
        color: $white;
      }
    }
  }

  .featured-track {
    background: $gray;
    padding: 23px;

    h5 {
      font-size: 14px;
      text-transform: uppercase;
    }
    
    .scroll-text {
      -moz-transform: translateX(50%);
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      -moz-animation: scroll-left 10s linear infinite;
      -webkit-animation: scroll-left 10s linear infinite;
      animation: scroll-left 10s linear infinite;
    }

    .columns {
      overflow: hidden;
      position: relative;
    }
  }
}

.artist-films {
  background: #000 url('../images/placeholder/tree-bg.png') no-repeat center center;
  background-size: cover;
  padding: 81px 30px 110px;

  h2 {
    color: $white;
    margin-bottom: -26px;
  }

  .music-film-grid {
    display: flex;
    padding: $standard-space; 

    .single-film-item {
      position: relative;
      background: black;
      border: 1px solid white;
      position: relative;
      height:200px;
      margin: 0 7px 14px;
      width: 30%;
      
      h2 {
        @include center;
        color: white;
        font-size: 20px;
        margin-top: 0;
        text-transform: uppercase;
      }

      .grid-bg {
        @include absolute-fill;
        opacity: 0.6;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  
  @include breakpoint(small only) {
    padding: 26px; 

    .music-film-grid {
      margin-top: 50px;
      padding: 0;

      .single-film-item {
        height: 140px;
        margin-bottom: 27px;
        
        width: 100%; 

        h2 {
          font-size: 14px;
        }
      }
    }
  }

  @include breakpoint(medium only) {  
    padding: $standard-space;

    h2 {
      margin: 0 0 10px;
    }

    .music-film-grid {
      padding: $standard-mobile-space;

    }
  }
}

.artist-tracks {
  margin-bottom: -64px;

  .single-track { 
    display: flex;
    padding: 15px 0 0;
    overflow: hidden;

    .player-container {
      color: #7d0a11;
      width: 40%;

      .play-bar {
        width: 150px;
      }
    }

    .scroll-text {
      color: #7d0a11;
      width: 60%;
      order: 2;
      
      p {
        margin-bottom:0;
      }
    }
    
    &:nth-child(odd) {
      background: $yellow;

      .pause:after {
        background: $yellow;
      }
    }
  }

  @include breakpoint(small only) { 
    margin-bottom: 42px;
    padding: 0 26px;

    .single-track {
      flex-direction: column;
      padding: 19px 0 13px; 

      .player-container {
        width: 100%;

        .play-bar {
          width: 200px;
        }
      }
      
      .scroll-text {
        height: auto;
        width: 100%;
        p {
          font-size: rem-calc(13px);
          text-align: center;
        }
      }
    }
  }
}

.other-artists {
  background: $gray;
}

.content-section.social-links {
  padding:0px 50px 103px;
  text-align: center;

  svg * {
    fill: $green;
  }

  a:hover   svg * {
    fill: $yellow;
  }
}