body.single-amigo {
  
  #page-header {
    height: 600px;
      
    @include breakpoint(small only) {
      height: 400px;
      background-position: center top !important;
      background-attachment: unset !important;
    }
  }

  .amigo-bio-header {
    text-align: center;
    margin-bottom: 100px;

    h1 {
      margin-bottom: 0;
    }

    span {
      color: $green;
    }
  }
  .content-section img {
    margin: 0 auto 30px;
  }

  .social-links  {
  
  }

  .content-section .social-links { 
    text-align: center;
    
    a {
      svg * {
        fill: $green;
      }

      &:hover svg * {
        fill: $yellow;
      }

    }
  }

  .amigo-gallery {
    padding: 40px 0;

    @include breakpoint(small only) {
      padding: 0;
    }
  }

  .recipe {

    .recipe-header {
      margin-bottom: 66px;
      text-align: center;

      p {
        margin: 50px auto;
        font-size: rem-calc(28px);
      }

      @include breakpoint(small only) {
        margin-bottom: 30px;
        
        p {
          font-size: rem-calc(20px);
          margin: 15px auto;
        }
      }
    }

    .recipe-sidebar {
      text-align: left;

      h3 {
        color: $green;
        text-align: left;
      }
    }

    .recipe-steps { 
      margin-left: 0;

      li {
        margin-bottom: 50px;
      }

      @include breakpoint(small only) {
        margin-left: 15px;

        li {
          font-size: rem-calc(14px);
        }
      }
    }
  }
}