.amigo-slider {
  margin: 0 auto $standard-space * 2;
  width: 733px;
  max-width: 100%;
  position: relative;

  .single-amigo {
    background: black;
    display:inline-block;
    position:relative;
    @include single-transition(opacity,400ms, linear);
    @include single-transition(transform,400ms,linear);

    img {
      opacity:.5;
    }

    span {
      @include center;
      color: white;
      font-size: 25px;
    }
    
    &:hover {
      img {
        opacity:1;
      }
      
      span {
        display: none;
      }
    }
  }

  @include breakpoint(small only) {
    
    overflow:hidden;
    margin: 0 auto $standard-space;

    .slick-track {
      padding: 20px 0;
    }

    .single-amigo {
      opacity: 0.5;

      &:hover {
        opacity: inherit;
      }
    }
    
    .slick-current {
      opacity: 1;
      transform:scale(1.1);
      z-index:2000;
    }

    .slick-previous {
      left:20px;
      z-index: 100;
      span {
        @include g-caret(20px, white, -45)
      }
    }
    
    .slick-next {
      right: 20px;
      span {
        @include g-caret(20px, white, 135)
      }
    }
  }
}