.artist-grid {
  display: flex;
  justify-content: center; 
  padding: 0;

  .single-artist {
    width: 20%;
    margin: 0 20px 14px;

    &:first-child {
      margin-left: 10px
    }
  }

  .slick-previous {
    @include g-caret( 25px, $green, -45 )
  }
  
  .slick-next {
    @include g-caret( 25px, $green, 135 )
  }

  @include breakpoint(small only) {
    flex-wrap: wrap;
    padding: 0;

    .single-artist {
      height: auto;
      width: 250px;
      max-width: 100%;
    }
  }
}