$max-slider-height-desktop: 600px;

#featured-films {
  height: auto;
  max-height: none;
  overflow:hidden; 
  z-index: 1000;

  &:focus {
    outline:none;
  }

  .mobile-slide {
    display:none;
  }

  @include breakpoint(small only) {
    margin-bottom: 55px;
    
    .mobile-slide {
      display: block;
    }
    
    .desktop-slide {
      display: none;
    }
  }
 }


.orbit {
  margin:0 auto 0; 
  max-height: $max-slider-height-desktop;

  &:focus, .orbit-container:focus {
    outline:none;
  }
 
  .orbit-slide {  
    max-height: $max-slider-height-desktop !important;
    position:relative;

    img {
      width: 100%;
    }
    
    @include breakpoint(small only) {
      max-height: 400px;
    }
  }

  .orbit-previous, 
  .orbit-next {
    padding:0 12px 0 17px; 
    
    .g-caret {
      @include g-caret(20px, white, -45)
    }
    
    &:hover {
      background: none;
    }

    @include breakpoint(small only){
      padding:35px 10px 35px 14px;
    }
  }

  .orbit-next  {
    padding:0 17px 0 12px; 
  
   .g-caret {
      -webkit-transform:rotate(135deg);
    }

    @include breakpoint(small only){
      padding:35px 14px 35px 10px;
    } 
  }

 
  .orbit-bullets {
    @include center-horizontally;
    bottom: 0; 

    button {
      height:rem-calc(13px); 
      width:rem-calc(13px);
      margin:0 rem-calc(5px) 0; 
    }
  }
  
     
  .content { 
    margin:0 auto; 
    @include center;
    text-align: center;
    width: 80%;

    h2 {
      color: white;
      font-size: 57px;
      margin:20px 0 44px;
      text-transform: uppercase;
    }

    p {
      text-align:center
    }
    
    @include breakpoint(small only){  
      max-width:90%;

      h2 {
        font-size: 35px;
      }
    }
  }

  @include breakpoint(medium only) {
    max-height: 500px;
    min-height: 400px;

    .orbit-slide img {
      max-width: 150%;
      position: relative;
      left: -50%;
    }
  }

  @include breakpoint(small only) { 
    max-height: 460px;

    img {
      /*width: 300%;
      max-width: 300%;
      @include translate(-50%, 0);
      */
    }
  }
}