.film-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;

  .slick-previous {
    @include g-caret( 25px, $green, -45 )
  }
  
  .slick-next {
    @include g-caret( 25px, $green, 135 )
  }

  @include breakpoint(small) {
    overflow: hiden;
    
    .slick-previous {
      left: 5px;
    }
    
    .slick-next {
      right: 5px;
    }
  }

  .single-film-item {
    @include grid-item;
    background-size: cover !important;
    background-repeat: no-repeat;
    margin: 0 1% 14px;
    width: 23%; 
    height: 222px;
    
    @include breakpoint(medium only) {
       height: 175px;
    }

    @include breakpoint(small only) {
       width: 100%;
       height: 175px;
    }
    
    &:hover {
      span {
        display: none;
      }

      &:after {
        @include center;
        content: 'Watch Film';
        color: $yellow;
        text-transform: uppercase;
      } 
    }
  } 
}