/*.feature-film-row {
  display: flex;
  position: relative;

  .single-film-grid-item{
    width:20%;
    min-height:220px;
    display:block; 
    position:relative;
    max-width:100%; 
    background:$black; 
    margin-bottom:9px; 
    overflow:hidden; 
    text-align:center; 

    img {
      @include single-transition(opacity,500ms);
      @include center;  
      opacity:.5; 
      max-width:116%; 
    }

    .title {
      @include center; 
      color:$white; 
      font-size:rem-calc(29.17);
      width:90%; 
      display:block; 
    }

    @include breakpoint(large){ 
      &:hover {
        img{
          opacity:1;   
        }

        .title {
          display:none; 
        }
      }
    }


    @include breakpoint(medium only){
      min-height:114px; 
      margin-bottom:1px; 

      .title {
        font-size:rem-calc(20.49);
      }
    }
    
    @include breakpoint(small only){  
      min-height: 275px;
    }
  }

  .slick-scroll {
    z-index: 200;
    
    span {
      @include g-caret(20px, white, -45)
    }
  }

  .slick-previous {
    left: 14px;
  }

  .slick-next {
    right: 14px;
    
    span {
      @include g-caret(20px, white, 135)
    }
  }

  @include breakpoint(small only) {
     
    .single-film-grid-item .title {
      text-align:center;
      
      .big-button {
        font-size: 18.75px;
        position:static;
        display: inline-block;
        transform: none;
        margin-top: 24px;
        width: 150px;
      }
    }
  } 
}*/