#footer {
	max-width: 100%;
	width: 100%;
	margin: 0 auto 0;
	padding:60px 0 120px;
 	position:relative;
 	background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../images/jungle-fog.jpg') repeat center center; 
 	background-size:cover;
	overflow:hidden; 
	z-index:1000; 
	
	#footer-menu {
		display:block;
		padding: 20px 20px 36px;
		position:relative; 
		background:none;   
		z-index:200; 
		
		& > div {
			@extend .row;
			justify-content: center;
		}

		ul {
		 	@extend .large-8;
		 	@extend .small-12;
			margin:0 auto;

		  li {
		  	list-style-type:none; 
		  	display: inline-block;

		  	a {
		  	 	font-size: 19px;
		  	 	padding: 0 12px;
		  	 }
		  }
	  	
	  	@include breakpoint(small only) {
	  		
	  		li { 
	  			margin-bottom: 0;

	  			a {
	  				font-size:19px;
	  				padding: 0 10px;
	  			}
	  		}
	  	}
	  }
	  
	  .wreath-home-link {
	  	@include single-transition(transform, 150ms, linear);
	  	display: block;
	  	margin: 0 auto 28px;
	  	 @include scale(1);
	  	 
	  	&:hover {
        @include scale(1.05);
      }

	  	@include breakpoint(small only) {
	  		margin-bottom: 0px;
	  	}
	  }

	  p {
	  	color: $white;
	  	margin: 0 auto;
	  	max-width: 500px;
	  	text-align: center;
	  }
	}

	.footer-connect {
		position: relative;
		z-index: 200;
		margin: 0 auto;
		text-align:center;

		input {
			border: none;

			&[type="email"] {
				width: 274px;
			}
		}
		
		.social-links {
			margin-top: 30px;

			a {
				margin: 0 2px;
				
				&.youtube-icon {
					margin: 0 5px;
					
					svg {
						@include scale(1.3);
					}
				}
			}

			svg .inner-shape {
				fill: $white !important;
			}

			a:hover svg * {
      	fill: $yellow !important;
    	}
		} 
	}

	@include breakpoint(small only) { 
		padding: 30px 0 50px;
	}
}
