#page-content form.wpforms-form {
  color:$green; 
  max-width:536px; 
  margin:40px auto 140px; 

  label {
    display:none; 
  }
  input[type="text"], select, input[type="email"], textarea {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid $green; 
    box-shadow:none;
    letter-spacing:0.02em; 
    @extend .title;
    color:$green;
    width:100%;
    max-width:none;
    padding:.1rem; 

    @include breakpoint(small only){
      font-size: 13px;
    }
  }
  
  textarea {
    height:130px; 
  }

  .wpforms-field-textarea {
    margin-top:10px; 
  }

  .wpforms-field-select { 
    position:relative; 
    select { 
      background:transparent;
    }
    
    &:after {
      @include g-caret(13px,$green,225);
      -webkit-transform:rotate(225deg);
      position: absolute;
      bottom: 24px;
      right: 4px;
      z-index:-1; 
    }
  }

  input[type="submit"],button[type="submit"]  { 
    @include green-button;

    @include breakpoint(small only){
      margin-top:49px; 
    }
  }
  

  ::-webkit-input-placeholder {
   color: $green;
   font-weight:bold;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $green;
      font-weight:bold;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $green;
      font-weight:bold;  
  }

  :-ms-input-placeholder {  
     color: $green;
      font-weight:bold;  
  }
  
  @include breakpoint(small only) {
     max-width:95%; 

      ::-webkit-input-placeholder {
      font-size:13px; 
    }

    select {
      font-size:15px; 
    }

    textarea {
     height: 120px;
    } 
  }
}

.single-line-form {
  display: flex;
  justify-content: center;

  input[type="text"],
  input[type="email"] {
    font-size:22px;
    padding: 10px 20px;
    height: 53px;
    width: 60%;
  }
  
  .big-button {
    font-size: 22px;
    height: 53px;
    line-height: 1;
    margin-top: 0;
    text-transform: capitalize;
  }

  @include breakpoint(small only) {
    input[type="text"],
    input[type="email"],
    .big-button {
      height:50px;
      font-size: 15px;
    }

    .big-button {
      padding:10px;
    }
  }
}