#page-header, .page-header  {
    @include gold-borders;

    height: 520px;
    position: relative;
    overflow: hidden;

    > img {
      @include center;
      min-width: 100%;
    }

    .content { 
      font-family: 'guayaki',  'raleway';
      margin: 0 auto; 
      @include center;
      text-align: center;
      width: 80%;
      max-width: 598px;

      h2, 
      h1 {
        color: white;
        font-family: 'guayaki', 'raleway';
        font-size: 57px;
        margin: 0;
        text-transform: uppercase;
        
        @include breakpoint(medium) {
          font-size: 44px;
        }

        & + span {
          color: $white;
          display: block;
          font-size: rem-calc(24.5px);
          text-transform: uppercase;

          svg, img {
            width: 25px;
            height: 25px;
            @include translate(0, 3px);
          }
        }
      }

      p {
        text-align:center
      }
      
      a {
        color : $white;

        &:hover {
          color: $yellow;
        }
      }

      @include breakpoint(small only){  
        max-width:90%;

        h2 {
          font-size: 35px;
        }
      }
    }

    @include breakpoint(small only) { 
      z-index: 10;
      height: 414px;
      background-size: 210% !important;
      background-position: center top !important;
      
      > img {
        @include center;
        z-index:10;
        height: 100%;
        max-width: none;
      }
      
      .content {
        z-index: 100;
        h1 {
          font-size: rem-calc(35px);
        }
      }
    }

    @include breakpoint(medium only) {
      max-height: 400px;
    }
  }

  .content-section {
    text-align: left;
  }

.top-bar, .top-bar ul {
  background:transparent;
  list-style-type:none; 
  margin:0;
}
 
.top-bar-right {
  z-index: 2000;

  @include breakpoint(small only){ 
    position:absolute; 
    left:0; 
    top:0;
    right: auto;
    
    #nav-icon {
      top: 32px;
      left: 27px;
      right: auto;
    }
  }  
}

#site-navigation {
  height: 112px;
  position: absolute;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;

  &.nav-up {
    top: -120px;
  }
  body.menu-open & {
    overflow:visible;
  }
}