
.scroll-text {
  height: 35px;
  overflow: hidden;
  margin: 0 auto 0;
  position: relative;

  p {
    color: $green;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
}

.player-container {
  display: flex;
  justify-content: center;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
  h2 a {
    font-size: 63px;
    margin-bottom: 15px;
    letter-spacing: 0.2em;
    display: block;
    color: $green;
  }
  button {
    float: left;
    margin-right: 7px;
  }

  .play-button {
    margin-left: 2px;
    background: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 12px;
    border-color: transparent transparent transparent $green;
    cursor: pointer;
  }

  .play-bar {
    height: 40px;
    width: 300px;
    overflow: visible;
    position: relative;
    top: 1px;
    float: left;
    margin-right: 7px;

    .static-line {
      content: '';
      display: block;
      width: 100%;
      margin-top: 10px;
      border-top: 1px solid $green;
    }
    .waves {
      display: none;
      position: absolute;
      top: -10px;
      left: 0;
      max-width: 100%;
    }
  }

  .pause {
    background: $green;
    border: none;
    height: 22px;
    width: 19px;
    cursor: pointer;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 0;
      background: $white;
      border: none;
      height: 22px;
      width: 5px;
      display: block;
    }
  }

  @include breakpoint(small only){
    .play-bar {
      width: 170px;
    }
  }
}


@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}


@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}


@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    /* Browser bug fix */
    -webkit-transform: translateX(100%);
    /* Browser bug fix */
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    /* Browser bug fix */
    -webkit-transform: translateX(-100%);
    /* Browser bug fix */
    transform: translateX(-100%);
  }
}

@-moz-keyframes lesser-scroll-left {
  0% {
    -moz-transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(100%);
  }
}


@-webkit-keyframes lesser-scroll-left {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
  }
}


@keyframes lesser-scroll-left {
  0% {
    -moz-transform: translateX(0%);
    /* Browser bug fix */
    -webkit-transform: translateX(0%);
    /* Browser bug fix */
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(0%);
    /* Browser bug fix */
    -webkit-transform: translateX(0%);
    /* Browser bug fix */
    transform: translateX(100%);
  }
}
