/* Navigation breakpoints */

#site-navigation {
  z-index:2000; 
}

.top-bar-left {
 z-index:1400; 
 position:relative; 
}

 
/* Mobile menu */
.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {
  
  .menu {
    position:relative; 
    z-index:2000; 
    a {
      height: 45px;
      line-height: 45px;
      color: #e6e6e6;
      padding-top: 0;
      padding-bottom: 0;
      font-weight: bold;
      font-size: 0.8rem;
      line-height: 1;

      &:hover:not(.button) {
        background-color: #2a2a2a;
      }
    } 

    & .home a {
      font-size: 1rem;
      color: #B9B9B9;
    }
  }
  
  .top-bar-middle { 
    align-items: baseline;
    display: flex;
    justify-content: center;
    text-align:center; 
    z-index: 1500;
    padding-top: 21px;
    position: relative;

    li, a {
      color: white;
      font-size:16px;
      text-transform: uppercase;

      a {
        padding: 0 9px;
        
        &:hover {
          color: $yellow;
        }
      }
    }

    .subnav {
      width: 180px;
      @include translate(-10px,-44px);

      li {
        display: none;
        line-height: 30px;
        position: relative;

        &:first-child {
          cursor: default;
          display: block;
          margin-bottom: 15px;

          &:after {
            @include center-horizontally;
            bottom: -5px;
            content: "";
            border-top:1px solid white;
            width: 20px;
          }
        }
      }
      
      &:hover {
        li {
          display: block  !important;
        }
      }

      @include breakpoint(small only) {
        @include translate(-0, -22px);
        width: 120px;

        &.mate-nav {
         
        }

        &.ctl-nav {
          
        }

        li {
          font-size: 12px;
       
         
          &:first-child {
            margin-bottom: 5px;
            
            &:after { 
              display: none;
            }
          }
        }
      }
    }
    #home-link {
      @include single-transition(transform, 150ms, linear);
      @include scale(1);
      display:inline-block;
      margin:0;

      &:hover {
        @include scale(1.05);
      }
          
    }

    @include breakpoint(small only){

      a {
        font-size: 12.5px;
        padding:0 4px;

        &:not(#home-link) {
          @include translate(0,-120%);
        }
      }
    }
  }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

}

#menu {
  height:0;
  opacity:0; 
  top:-200%; 
  z-index:1200; 
  @include single-transition(opacity,.5s);

  &.open {
    height:100vh; 
    top: 8px;
  }

  .menu-primary-container {
     @include center;
     @include breakpoint(small only){   
      margin-top: 55px;
      width:90%;
     }
  }
}

#menu, #footer-menu {
  position:absolute; 
  width:100%; 
  background:$orange url('../images/blue-cloud-bg.png') repeat center center; 
  background-size:cover; 
  text-align:center; 
  padding:100px 0;
  overflow: hidden;

  .menu-primary-container {
    padding-top: 100px; 
    z-index: 110;
  }
 
  li {
    @extend .title; 
    margin-bottom:10px; 

    a { 
     color:white;  
     font-weight: 300;
     font-size:rem-calc(30); 

     &:hover {
      color: $yellow;
     }
    }
  }

  &.open {
    opacity:1; 
  }

   @include breakpoint(small only){ 
    padding-top:80px; 

    .menu-primary-container {
      margin-top: 0;
      padding-top:0;
    }

    li a {
      font-size:1.5rem;
    }
  }

  @media only screen and (max-device-width: 736px)  and (orientation: landscape) { 
    .menu-primary-container {
      width: 100%;

      #menu-primary {
        display: flex;
        flex-wrap: wrap;
        padding-top: 70px;
        
        li {
          margin-bottom: 15px;
          width: 50%;

          a {
            font-size: 1.2em;
          }
        }
      }

    }
  
  }

}

.bg-video {
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  @include center;
  z-index:100;

  @include breakpoint(small only){  
    display:none;
  }
}