body.page-template-page-regeneration-business-model {
  /*background-color: #111;*/
}

.rbm {
  font-family: "Raleway", "Helvetica Neueue", "Arial", sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'guayaki', 'raleway';
  }
}

.rbm__nav {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'guayaki', 'raleway';
  z-index: 111111;

  &__container {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding-bottom: 90%;
  }

  &__bg,
  &__bg-hover,
  &__bg-earth {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover
  }

  &__bg {
    background-image: url("../img/rbm/nav-bg.png");
  }

  &__bg-hover {
    opacity: 0;
    transition: .2s opacity ease-in-out;
    background-image: url("../img/rbm/nav-bg-hover.png");
  }

  &__bg-earth {
    background-image: url("../img/rbm/nav-bg-earth.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 45%;
  }

  &.hover &__bg-hover,
  &:hover &__bg-hover {
    opacity: .2;
  }

  &__list {
    margin: 0;
  }

  &__item {
    display: inline-block;
    position: absolute;
    text-align: center;
    list-style: none;

    &[data-title="Index"] {
      top: 30%;
      right: 34%;
      bottom: 36%;
      left: 34%;
      width: auto;
      height: auto;
      border-radius: 50%;

      .rbm__nav__icon {
        width: auto;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../img/rbm/nav-bg-earth.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .rbm__nav__text {
        display: none;
        top: 40%;
        left: 50%;
        -webkit-transform: translateX(-50%)translateY(-50%);
        transform: translateX(-50%)translateY(-50%);
        color: #0066a4;
      }
    }

    &[data-title="Zero Waste"] {
      top: 4%;
      left: 9%;
      width: 42%;
      height: 20%;

      .rbm__nav__icon {
        width: 39%;
        height: 78%;
        top: 15%;
        left: 30%;
        background-position: 2% 8%;
        background-size: 775%;
      }

      .rbm__nav__text {
        top: 55%;
        left: 75%;
        max-width: 18%;
      }
    }

    &[data-title="Regenerative Agriculture"] {
      top: 4%;
      left: 51%;
      width: 44%;
      height: 28%;

      .rbm__nav__icon {
        width: 62%;
        height: 83%;
        top: 8%;
        left: 7%;
        background-position: 24% 7%;
        background-size: 525%;
      }

      .rbm__nav__text {
        top: 79%;
        left: 33%;
      }
    }

    &[data-title="Nurture Tradition"] {
      top: 32%;
      left: 66%;
      width: 30%;
      height: 29%;

      .rbm__nav__icon {
        width: 52%;
        height: 53%;
        top: 14%;
        left: 26%;
        background-position: 50% 7%;
        background-size: 800%;
      }

      .rbm__nav__text {
        top: 68%;
        left: 30%;
      }
    }

    &[data-title="Values-Aligned Suppliers"] {
      top: 61%;
      left: 60%;
      width: 28%;
      height: 28%;

      .rbm__nav__icon {
        width: 52%;
        height: 53%;
        top: 5%;
        left: 2%;
        background-position: 73% 7%;
        background-size: 800%;
      }

      .rbm__nav__text {
        top: 60%;
        left: -7%;
        max-width: 75%;
      }
    }

    &[data-title="Zero Emissions"] {
      top: 65%;
      left: 34%;
      width: 26%;
      height: 32%;

      .rbm__nav__icon {
        width: 80%;
        height: 43%;
        top: 23%;
        left: -1%;
        background-position: 0% 52%;
        background-size: 575%;
      }

      .rbm__nav__text {
        top: 64%;
        left: 15%;
        max-width: 100%;
      }
    }

    &[data-title="Conscious Leadership"] {
      top: 50%;
      left: 6%;
      width: 28%;
      height: 35%;

      .rbm__nav__icon {
        width: 80%;
        height: 55%;
        top: 5%;
        left: 15%;
        background-position: 25% 52%;
        background-size: 575%;
      }

      .rbm__nav__text {
        top: 60%;
        left: 40%;
      }
    }

    &[data-title="Share the Gourd"] {
      top: 24%;
      left: 4%;
      width: 30%;
      height: 26%;

      .rbm__nav__icon {
        width: 70%;
        height: 70%;
        top: 5%;
        left: 10%;
        background-position: 51% 52%;
        background-size: 625%;
      }

      .rbm__nav__text {
        top: 80%;
        left: 17%;
        left: 10%;
        max-width: 100%;
      }
    }

    @media screen and (max-width: 40em) {

      &[data-title="Zero Waste"],
      &[data-title="Regenerative Agriculture"],
      &[data-title="Nurture Tradition"],
      &[data-title="Values-Aligned Suppliers"],
      &[data-title="Zero Emissions"],
      &[data-title="Conscious Leadership"],
      &[data-title="Share the Gourd"] {

        .rbm__nav__icon {
          display: none;
        }

        .rbm__nav__text {
          width: 100%;
          top: 50%;
          right: 10%;
          bottom: 0;
          left: 10%;
          max-width: 80%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }


      &[data-title="Zero Waste"] {
        .rbm__nav__text {
          top: 70%;
          left: 20%;
        }
      }

      &[data-title="Regenerative Agriculture"] {
        .rbm__nav__text {
          top: 60%;
          left: 5%;
        }
      }

      &[data-title="Nurture Tradition"] {

      }

      &[data-title="Values-Aligned Suppliers"] {
        .rbm__nav__text {
          top: 40%;
          left: 2.5%;
        }
      }

      &[data-title="Zero Emissions"]  {
        .rbm__nav__text {
          top: 55%;
        }
      }

      &[data-title="Conscious Leadership"] {
        .rbm__nav__text {
          left: 25%;
        }
      }

      &[data-title="Share the Gourd"] {
        .rbm__nav__text {
          top: 60%;
        }
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    color: #ebefbe;
  }

  &__link.hover,
  &__link:active,
  &__link:focus,
  &__link:hover {
    color: #ebefbe;
  }

  &__link__body {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transition: .2s transform ease-in-out;
    transform: scale(.95);
  }

  &__link.hover &__link__body,
  &__link:hover &__link__body {
    transform: scale(1);
  }

  &__icon {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../img/rbm/nav-icons.png");
  }

  &__text {
    position: absolute;
    display: inline-block;
    max-width: 50%;
    font-size: .85rem;
    font-size: .8075rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
  }

  &__back {
    display: none;
    position: absolute;
    top: -10px;
    right: 0;
    bottom: auto;
    left: 0;
    padding: .25em 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    text-align: center;
    font-size: .8em;
    color: #fff;

    @media screen and (min-width: 64em) {
      top: 50%;
      right: 0;
      padding: 0;
      -webkit-transform: translateX(-100%)translateY(-50%);
      transform: translateX(-100%)translateY(-50%);
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}

.rbm__fixed-nav {

  &__body {
    position: fixed;
    max-width: 100%;
    top: 10px;
    right: 0;
    bottom: auto;
    left: 0;
    max-width: 75rem;
    height: 80px;
    margin: 0 auto;
    z-index: 11111;
    pointer-events: none;
    transition: .2s transform ease-in-out;
    transform: translateY(-100%);

    .rbm__nav {
      position: absolute;
      width: 75px;
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
      pointer-events: auto;

      transition: .2s top ease-in-out, .2s width ease-in-out;

      &__text,
      &__icon {
        opacity: 0;
        pointer-events: none;
      }

      &__item[data-title="Index"] .rbm__nav__icon {
        opacity: 1;
      }
    }
  }

  &.visible &__body {
    top: 30px;
    transition: .2s top ease-in-out, .2s transform ease-in-out;
    transform: translateY(0);

    @media screen and (min-width: 64em) {
      top: 45px;
    }
  }

  &.visible &__body {
    top: auto;
    bottom: 15px;

    @media screen and (min-width: 64em) {
      top: 30px;
      border-top: auto;
    }
  }

  &.in &__body {
    height: 100%;
    bottom: 0;

    @media screen and (min-width: 64em) {
      width: 700px;
    }

    .rbm__nav {
      width: 100%;
      right: auto;
      top: 50%;
      left: 50%;
      transform: translateX(-50%)translateY(-50%);
    }

    .rbm__nav__text,
    .rbm__nav__icon {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.visible .rbm__nav__back {
    display: block;
  }

  &.in .rbm__nav__back {
    display: none;
  }

  &:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 11111;
  }

  &.in:before {
    background-color: rgba(0, 0, 0, .7);
    pointer-events: auto;
    transition: .2s background-color ease-in-out;
  }

  &.visible {
    .rbm__nav {
      background-image: url("../img/rbm/wreath-white.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .rbm__nav__container {
      opacity: 0;
    }

    &.in {
    .rbm__nav {
        background-image: none;
        background-size: cover;
      }

      .rbm__nav__container {
        opacity: 1;
      }
    }
  }
}

.rbm__section .rbm__nav {
  width: 600px;

  .rbm__nav__text {
    @media screen and (min-width: 64em) {
      font-size: .75rem;
    }

    @media screen and (min-width: 75em) {
      font-size: .85rem;
    }
  }
}

.rbm__section {
  position: relative;
  min-height: 100vh;
  color: #006838;

  display: flex;
  align-items: center;
  justify-content: center;

  h1, h2, h3, h4, h5, h6 {
    color: #006838;
  }

  h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
    border-bottom: 1px solid;

    sup {
      font-size: .6em;
    }
  }

  h2 {
    margin: 0 0 15px;
    padding-bottom: 15px;
    line-height: 1em;
    font-size: 1.8em;
    border-bottom: 1px solid;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    background-size: cover;
    background-position: center;
  }

  &__body {
    position: relative;
  }

  &#Index {

    .rbm__section__body h1 {
      font-size: 1.8rem;
      @media screen and (min-width: 40em) {
        font-size: 3rem;
      }
    }

    .rbm__content {
      padding: 5px;

      strong {
        font-family: 'guayaki', 'raleway';
        font-size: 2.2em;
        font-weight: 300;
      }
    }
  }
}

#RegenerativeAgriculture.rbm__section h1 {
  font-size: 2.5rem;
}

.rbm__box {
  max-width: 400px;
  margin: 50px 0;
  padding: 15px;
  /*text-align: justify;*/
  border-radius: 2px;
  background-color: rgba(100 ,100, 100, .8);
  border: 4px solid #f00;
  border: 2px solid #b3b3b3;
  border-radius: 16px;
  color: #fff;

  @media screen and (min-width: 64em) {
    padding: 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  p {
    margin-bottom: 0;
  }

  &--left,
  &--right {
    width: 680px;
    max-width: 100%;
    margin: 50px auto;
  }

  @media screen and (min-width: 64em) {
    &--left,
    &--right {
      width: 33.33%;
      max-width: 100%;
    }


    &--left {
      float: left;
    }

    &--right {
      width: 30%;
      float: right;
      -webkit-transition: .4s width ease-in-out;
      transition: .4s width ease-in-out;

      &.rbm__box--expanded {
        width: 60%;
      }
    }
  }
}

.rbm__accordion-item {
  $transitionSpeed: 2s;

  &__heading {
    max-width: 85%;
    padding-left: 25px;
    text-align: left;
    line-height: 1;
    font-size: 1.1em;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      display: block;
      margin-left: -25px;
      width: 20px;
      height: 20px;
      background-image: url("../img/rbm/accordion-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;

      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: -webkit-transform .4s ease-in-out 0s;
      transition: transform .4s ease-in-out 0s;
    }
  }

  &.active &__heading:before {
    -webkit-transform: rotate(88deg);
    transform: rotate(88deg);
    -webkit-transition: -webkit-transform .4s ease-in-out 0s;
    transition: transform .4s ease-in-out 0s;
  }


  &__content {
    max-height: 1px;
    padding-left: 15px;
    font-size: .81em;
    overflow: hidden;

    p {
      font-size: 1em;
    }

    a {
      text-decoration: underline;
      color: #fff;
    }

    -webkit-transition: max-height $transitionSpeed/4 ease-in-out;
    transition: max-height $transitionSpeed/4 ease-in-out;
  }

  &.active &__content {
    max-height: 2000px;

    -webkit-transition: max-height $transitionSpeed/1 ease-in-out;
    transition: max-height $transitionSpeed/1 ease-in-out;
  }

  & + & {
    margin-top: 30px;
  }
}

.rbm.fixed {
  /*
  .rbm__fixed-nav .rbm__fixed-nav__body {
    transition: .2s transform ease-in-out;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  */

  .rbm__section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: .7;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: .6s -webkit-transform ease-in;
    transition: .6s transform ease-in;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    z-index: 1;

    &.active {
      z-index: 11;
      opacity: 1;
      -webkit-transition: .6s -webkit-transform ease-out;
      transition: .6s transform ease-out;
      -webkit-transform: scale(1);
      transform: scale(1);
      z-index: 111;
    }

    .rbm__section__body {
      padding-top: 25px;

      @media screen and (min-width: 40em) {
        padding-top: 25px;
      }

      @media screen and (min-width: 64em) {
        padding-top: 50px;
      }
    }

    &.active .rbm__section__body {
      overflow: scroll;
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox
      width: 100%;
      max-height: 100vh;

      &::-webkit-scrollbar {
        display: none;  // Safari and Chrome
      }
    }
  }
}

.btn-global-impact-report {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: .9rem;
  background-color: #fed700;
  color: #000;

  @media screen and (max-width: 40em) {
    margin-bottom: 3rem;
  }

  i {
    margin-left: .25em;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: darken(#fed700, 3%);
    color: #000;
  }
}