.page-store-locator {
   #page-header {
    height: 200px;
  }
}

#guay-locator { 
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 100px;
    height: 100vh; 

    p {
        font-size: 1em !important;
        line-height: 1.6em !important;
        margin-bottom: 0 !important
    }

    #map {
        height: 100%;
        width: 70%;
        overflow: hidden;
        visibility: visible;
    }

    #list-container { 
        
        width: 30%;
        height: 100vh;
        margin-top: 0;
        overflow: scroll;
        float: left;
        position: relative; 
    }
    
    .listStore {
        width: 90%;
        padding: 20px 10px;
        margin: 10px 5% 10px 5%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
    }
    .distance {
        float: right;
        padding-right: 5px;
        font-weight: 600;
        color: grey;
    }
    .address {
        width: 50%;
        margin: 0;
    }
    .directions {
        margin-top: 20px;
        padding: 5px;
        border: 1px blue solid;
        color: blue;
        border-radius: 5px;
    }
    .title {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .listStore:hover {
        cursor: pointer;
    }
    #details {
        height: 25%;
    }
    .currProducts {
        margin: -15% 5% 0 0;
        float: right;
        width: 40%;
    }
    .product {
        float: left;
        padding-left: 5px;
        width: 25%;
    }
    .controls {
        margin-top: 10px !important;
        border: 1px solid transparent !important;
        border-radius: 2px 0 0 2px !important;
        box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        outline: none !important;
        background-color: white !important;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
        position: absolute;
        left: 50%;
        height: 40px !important;
        max-width: 40%;
        width: 40%;
        z-index: 99;
    }

    /*
    If on a mobile device
    */

    @media (max-width:800px) {
        
        hr {
            display:none;
        }
        
        .controls {
            left: 10%;
            width: 80%;
            max-width: 80%;
            position: fixed;
            height: 6% !important;
        }
        #list-container {
            margin-top: 15%;
            width: 100%;
            height: 90%!important;
        }
        #details {
            height: 30%;
        }
        #map {
            visibility: hidden;
            width: 0;
        }
    }
}
