.wp-admin #menu-comments{
	display: none;
}

/* Admin Menu */
#adminmenu div.wp-menu-image{
  height: 24px;
  overflow: hidden;
}

#adminmenu * div.wp-menu-image img{
  position: relative;
  top: -24px;
}

#adminmenu *:hover div.wp-menu-image img,
#adminmenu *.wp-menu-open div.wp-menu-image img{
  top: 0px;
}


body.login {
    background: #0a893c;
}

.login h1 {
  display: none;
}

#login {
  padding: 50px 0;
}

#login input[type="submit"]{
  background: #ffd600;
  border: none;
  border-radius: 0;
  color: #0a893c;
  font-weight: bold;
  text-shadow: none;
}

#login:before {
  background-image: url(../../assets/images/admin-wreath.png);
  background-size: cover;
  background-color: transparent;
  content: '';
  display: block;
  margin: 0 auto 20px;
  width: 150px;
  height: 140px
}

#nav {
  color: #0a893c;
}

.login #backtoblog a, .login #nav a {
  color: white;
}

.login #nav a:first-child {
  border: 1px solid white;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 5px;
  text-align:center;
  text-transform: uppercase;
}

.login #backtoblog a:hover, .login #nav a:hover {
  color: #ffd600;
}