.accordion {
  .accordion-title {  
    border-color: $light-gray;
    border-left: none;
    border-right: none;
    font-size: rem-calc(22px);
    padding: 32px 45px;

    &:before {
      @include g-caret(13px, $green, -138);
      left: 0;
    }

    @include breakpoint(small only ){
      font-size: rem-calc(18px);
      line-height:1.3em;
    }
  }

  .accordion-content {
    color: $black;
    font-size: rem-calc(18px);
    padding: 20px 45px;
    
    @include breakpoint(small only) {
      line-height:rem-calc(17px);
      line-height: 1.4em;
      padding: 15px 10px;
    }
  }

  .is-active > .accordion-title{
    cursor: default;
    
    &:before {
        @include g-caret(13px, $green,  45);
    }
  }

  :last-child > .accordion-content:last-child,:last-child:not(.is-active) > .accordion-title {
    border-left: none;
    border-right: none;
  }

  .accordion-content {
    background: transparent;
    border-left: none;
    border-right: none;
  }

  .accordion-title:hover, .accordion-title:focus {
    background: transparent;
  }
}