body .single-artist,
body .single-ambassador,
body .single-amigo {
  @include grid-item;
 
  margin: 0 26px;
  max-width: 266px;
  max-height:366px;

  @include breakpoint(small only){
    max-width: 140px;
  }

  &:hover {
    span {
      display: none;
    }

    &:after {
      @include center;
      content: 'discover';
      color: $yellow;
      text-transform: uppercase;
    } 
  }
}