.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.button.reverse {
  background: white;
  color: $green;
  border: 2px solid $green;
}

.button {
  background: $green;

  &:hover {
    background: $yellow;
  }
}

//Play Button

$background:transparent;
$foreground: $white;
$size:23px;
$ratio:1.2;
$transition-time:0.3s;

.video-play-button {
  display:block;
  width: 0; 
  height: 0; 
  border-top: ($size * .6) solid transparent;
  border-bottom: ($size * .6) solid transparent;
  border-left: (($size * .95) * $ratio) solid $foreground;
  margin: (($size * .8) * 2) auto $size auto;
  position:relative;
  z-index:1;
 
  left:($size*0.2);
  
  &:before {
    content:'';
    position:absolute;
    top:($size*-1.5);
    left:($size*-2.3);
    bottom:($size*-1.5);
    right:($size*-0.7);
    border-radius:50%;
    border: ($size*0.1) solid $foreground;
    z-index:2;
 
  }
  &:after {
    content:'';
    opacity:0;
    transition: opacity ($transition-time * 2);
    -webkit-transition: opacity ($transition-time * 2);
    -moz-transition: opacity ($transition-time * 2);
  }
  
  &:hover, &:focus {
 
  border-left: (($size * .95) * $ratio) solid $yellow;
    &:before {
        border-color: $yellow;
    }
  }
  
 
}