$bar-width: 30px;
$bar-height: 2px;
$bar-spacing: 8px;

body {
  background: $white;
}

.hamburger-menu {
  position: fixed;
  z-index: 3000;
  top: 53px;
  right: 57px;
  margin: auto;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;

  @include breakpoint(small) {
    top: 47px;
    right: 7px;
    transform: scale(.8);
  }

  .bar,
  .bar:after,
  .bar:before {
    width: $bar-width;
    height: $bar-height;
    box-shadow: 0px 1px 0px $yellow;
  }

  .bar {
    position: relative;
    transform: translateY($bar-spacing);
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 300ms;
    
    &.animate {
      background: rgba(255, 255, 255, 0); 
      box-shadow: none;
    }
  }

  .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }

  .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }

}

#nav-icon {
  z-index: 1500;
  top: 53px;
  right: 57px;
  position: absolute;
  width: 30px;
  height: 20px;

  
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 15px;
    background: white;
    opacity: 1;
    @include rotate(0);
    @include single-transition(all,.25s, ease-in-out);
    &:nth-child(even) {
      left: 50%;
    }
    &:nth-child(odd) {
      left: 0;
    }
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 0;
    }
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 10px;
    }
    &:nth-child(5) {
      top: 20px;
    }
    &:nth-child(6) {
      top: 20px;
    }
  }
  &.open span {
    background:white;
    &:nth-child(1) {
      @include rotate(45);
      left: 5px;
      top: 7px;
    }
    &:nth-child(6) {
      @include rotate(45);
      left: calc(50% - 2px);
      top: 17px;
    }
    &:nth-child(2) {
    @include rotate(-45);
      left: calc(50% - 2px);
      top: 7px;
    }
    &:nth-child(5) {
      @include rotate(-45);
      left: 5px;
      top: 17px;
    }
    &:nth-child(3) {
      left: -50%;
      opacity: 0;
    }
    &:nth-child(4) {
      left: 100%;
      opacity: 0;
    }
  }
}