/*
 Theme Name:   Come To Life 
 Template:      guayaki2017
 Version:      1.0.0
 Description: Child theme of main Guayaki site
 Author:  Lucent PDX
 Author URI: http://lucentpdx.com
*/


/* Main Hide List */

.top-bar-middle a:not(#home-link), 
.hamburger-menu,
#footer-menu .menu-primary-container{
  display: none !important;
}


#page-header {
  max-height: 600px;
}