body.post-type-archive-product,
body.tax-product_cat {

  #page-header {
    height: 300px;

    .content {
      top: 70%
    }
  }
  
  #main {
    padding-bottom: 40px;
    
    .products {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;

      .woocommerce-loop-product__title {
        color : $green;
        font-weight: bold;
        font-size: rem-calc(18px) !important;
        text-transform: none;

        @include breakpoint(small only) {
          font-size: rem-calc(12px)!important;
        }
      }

      li {
        text-align: center;

        @include breakpoint(small only) {
          margin-bottom: 50px;
          width: 29%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-end;
          height: 230px;

          .button {
            font-size: rem-calc(10px);
          }
        }
      }
    } 
  }

  #sidebar {
    @include breakpoint(small only) {
      order: 2;
    }
  }
}