body.single-product {
 
   #page-header {
    height: 200px;
    margin-bottom: 15px;

    .content {
      display: none
    }
  }
  

  .woocommerce-tabs {
    display: none;
  }

  #respond input#submit.alt,  a.button.alt, button.button.alt, input.button.alt {
    background-color: $green;
    color: white;

    &:hover {
      background-color: $yellow;
    }
  }
}