body.woocommerce,
body.woocommerce-cart,
body.woocommerce-checkout {
  
  #breadcrumb_container {
    font-size: 0.75em;
    margin: 10px 0 60px;
    
    @include breakpoint(small only){  
      margin-bottom: 30px;
    }
  }

  #page-header {
    background: black;

    .slide-img {
      opacity: .8;
    }
  }

  .shop-sidebar {

    .user-welcome, .logout-link {
      display: block;
      font-size: rem-calc(18px);
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
      padding: 15px 0;
    }

    #menu-shop-nav {
      line-height: 1.25em;
      list-style-type: none;
      margin-left: 0;
      padding: 15px 0; 

      li {
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        max-width: 191px;
        padding: 8px 0;

        @include breakpoint(small only) {
          max-width: none;
        }
        
        a {
          color: $dark-gray;
          font-size: rem-calc(18px);
        }
      }
    }
  }

  #respond input#submit.alt, .woocommerce a.button.alt,  button.button.alt, input.button.alt, .woocommerce a.button{
    background-color: $green;
  }

  #respond input#submit.alt:hover, .woocommerce a.button.alt:hover,  button.button.alt:hover, input.button.alt:hover,
   {
    background-color: $yellow;
  }
}

body.woocommerce-cart,
body.woocommerce-checkout,
body.tax-product_cat {
  #page-header {
    height: 300px;
    margin-bottom: 15px;
  }

  #page .main-content {
    width: 100%
  }
}

//Hide extra checkmark and "view cart" icon
.xoo-wsc-icon-atc,
.woocommerce a.added_to_cart {
  display:none;
}

.xoo-wsc-container { 
  left: -300px; 
  right: auto; 
  transition: all 300ms ease; 
} 

.xoo-wsc-modal.xoo-wsc-active .xoo-wsc-container { 
  left: 0; 
  right: auto; 
} 

.xoo-wsc-basket { 
  background: transparent; 
  box-shadow: none; 
  transition: all 300ms ease; 
  top: 18px; 
  left: 15px; 
  right: auto; 
  bottom: auto;
}

.xoo-wsc-modal.xoo-wsc-active .xoo-wsc-basket { 
  left: 315px; 
  right: auto; 
} 

.xoo-wsc-icon-basket1:before { 
  content: "\f07a"; 
  color: #ffd600; 
  border: none; 
  font-family: "FontAwesome"; 
} 

.xoo-wsc-items-count { 
  background-color: rgba(20, 173, 0, .5); 
  width: 20px; 
  height: 20px; 
  padding: 0; 
  line-height: 17px; 
  left: 38px; 
  top: 38px; 
}

@include breakpoint(small only) {
  .xoo-wsc-modal .xoo-wsc-basket {
    top: -7px;
    left: -10px;
    transform: scale(.7);
  }
}

#wc-cybersource-cc-form input {
  @include breakpoint(small) {
    font-size: 1.25em !important;
  }
} 

.shop-table .woocommerce ul#shipping_method li {
  @include breakpoint(small) {
    min-width: 150px;
  }
}

.woocommerce .woocommerce-cart-form table.shop_table {
  font-size: .75em;
}

body.page-checkout #page-header .content,
body.woocommerce-cart #page-header .content {
  top: 70%;
}